/* styles.css stylesheet for wopeh site */

/*landing styles*/
#landing{
  background-color:#654062;
}

/* navbar styles */
.a1{
  color: #ffD66b;
}

.a1:hover{
  color: #ff9d72;
}

.my-navbar{
  background-color: #654062;
}

.navbar-brand{
  color: #ffD66b;
}

.navbar-brand:hover{
  color: #ff9d72;
}

.nav-icon{
  color: #f4f4f4;

  padding-right: 10px;
}

/* landing section */
.landing-h2{
  color: #F4F4F4;
  font-family: "Montserrat";
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  margin-left: 30px;
}

.landing-img{
  width: 600px;
}

.landing-row{
  margin-top: 100px;
  padding-bottom: 100px;
}

.landing-col1{
  margin-top: 150px;
}
